<nav class="flex mb-6 justify-between items-center">
  <div class="flex">
    <%= tab movies_path, "Toplist" %>
    <%= tab suggested_movies_path, "Suggested" %>
  </div>
  <div>
    <a href="<%= new_movie_path %>" class="rounded p-2 text-white bg-red-600 hover:bg-red-700 hover:text-white hover:no-underline">
      <svg class="h-6 w-6 pb-1 inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M12 4v16m8-8H4" />
      </svg>
      Add Movie
    </a>
  </div>
</nav>
