refreshAverageRating = (movieId) ->
  $.ajax
    url: "/movies/#{movieId}.json"
    success: (movie) ->
      $(".big-rating-star").html(movie.average_rating)

$(document).on 'turbolinks:load', ->
  $("[data-raty]").raty
    path: ""
    starOff: "<%= image_path('raty/lib/images/star-off.png') %>"
    starOn: "<%= image_path('raty/lib/images/star-on.png') %>"
    number: 10
    hints: [
      "1"
      "2"
      "3"
      "4"
      "5"
      "6"
      "7"
      "8"
      "9"
      "10"
    ],
    target: -> ".raty-target"
    targetFormat: "<span class='raty-target-score'>{score}</span>/10"
    targetKeep: true
    score: -> $(@).data("score")
    click: (score, e) ->
      $(".raty-pending").fadeIn()
      $(".raty-success").hide()
      $(".raty-fail").hide()

      movieId = $(@).data("movie-id")

      params =
        rating:
          movie_id: movieId
          rating: score

      request = $.ajax
        method: "POST"
        url: "/ratings.json"
        data: params
        success: ->
          $(".raty-pending").fadeOut(-> $(".raty-success").fadeIn())
          refreshAverageRating(movieId)
        fail: ->
          $(".raty-pending").fadeOut(-> $(".raty-fail").fadeIn())

