@import "raty/lib/jquery.raty";

.raty-target {
  text-align: right;
  width: 36px;
  display: inline-block;
  color: $gray-light;

  .raty-target-score {
    color: $gray-base;
  }
}

.raty-pending {
  display: none;
  width: 16px;
  margin-left: 4px;
}
