/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "variables";
@import "bootstrap";
@import "raty";

.user_icon {
  width: 26px;
}

.imdb-link img {
  width: 129px;
  margin-top: 6px;
}

.big-rating-star {
  background: image-url("big-star.png");
  background-size: cover;
  width: 128px;
  height: 128px;
  text-align: center;
  line-height: 138px;
  font-size: 40px;
  font-weight: bold;
}

.movie-table-rank {
  width: 40px;
  text-align: center;
}
.movie-table-rating {
  font-weight: bold;
}

.link-secondary {
  color: $gray-light;
  margin-left: $grid-gutter-width / 2;
}

.link-secondary:hover {
  color: $gray;
  text-decoration: none;
}

.form-control-feedback img {
  width: 60%;
}

.padded {
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
}
