/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "variables";
@import "bootstrap";
@import "raty";

.user-icon {
  width: 26px;
}

.imdb-link img {
  width: 129px;
  margin-top: 6px;
}

.big-rating-star {
  background: image-url("big-star.png");
  background-size: cover;
  width: 128px;
  height: 128px;
  text-align: center;
  line-height: 138px;
  font-size: 40px;
  font-weight: bold;
}

.movie-table tbody tr {
  td {
    vertical-align: middle;
  }
}

.movie-table-rank {
  width: 40px;
  text-align: center;
}

.movie-table-rating {
  font-weight: bold;
}

.movie-table-poster {
  $thumb-height: 50px;
  $thumb-width: $thumb-height * 0.66;

  height: $thumb-height + 18px;
  width: $thumb-width + 9px;

  img {
    position: absolute;
    height: $thumb-height;
    margin-top: -$thumb-height / 2;
    clip: rect(0px 33px $thumb-height 0px);
    margin-left: 8px;
  }
}

.movie-table-posters {
  img {
    width: 34px;
  }
}

.link-secondary {
  color: $gray-light;
  margin-left: $grid-gutter-width / 2;
}

.link-secondary:hover {
  color: $gray;
  text-decoration: none;
}

.form-control-feedback img {
  width: 60%;
}

.padded {
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
}

.movie-poster {
  width: 100%;
}

.navbar-brand-logo {
  height: 28px;
  margin-top: -4px;
}

.navbar-no-padding {
  > li > a {
    padding-bottom: 0;
  }
}

#intercom-container {
  display: none !important;
}

.container-no-padding {
  padding: 0;
}

.search-result {
  img {
    height: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 15px;
  }
}

.form-control-feedback-dim {
  color: $gray-light;
}

.deemphasize {
  color: $gray;
}

@media screen and (min-width: $screen-sm-min) {
  #movie-search {
    width: 350px;
  }
}
